@model List<StoreApp.Models.Product>

<!DOCTYPE html>
<html>

<head>
    <title>Product Index</title>
</head>

<body>
    @foreach (var product in Model)
    {
        <div>
            <h3>@product.ProductName</h3>
            <p>@product.Price </p>
        </div>
    }
</body>

</html>
